body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Altura mínima de la ventana */
    background-color: #8ad88a;
}

.container {
    width: 80%;
    margin: auto; /* Center the container horizontally */
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    margin-top: 20px; /* Add space between content and footer */
    flex: 1; /* Hace que el contenido ocupe todo el espacio disponible */
}

footer {
    padding: 20px 0;
    text-align: center;
    margin-top: auto; /* Empuja el footer hacia abajo */
    width: 100%;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin-right: 10px;
}

footer ul li a {
    text-decoration: none;
    color: #6c757d;
}

footer ul li a:hover {
    color: #212529;
}

.copyright {
    color: #6c757d;
    font-size: 14px;
}